<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/cardsstyle.css">
    
    <title>Events Ticket Card</title>
</head>

<body>



    <div class="col-md-4 col-sm-6">
    <div class="container">
        <div class="item-container">
            <div class="img-container">
                <img src="/static/images/stock-vector-regression.jpg" alt="Event image">

            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Regression</p>
                    <div class="separator"></div>
                    <p class="info">Supervised,Unsupervised</p>

                    <div class="additional-info">
                        <p class="info">
                            Machine Learning Type
                        </p>
                        <p class="info description">
                            Regression is a supervised machine learning technique which is used to predict continuous values. 
                            The ultimate goal of the regression algorithm is to plot a best-fit line or a curve between the data. 
                            The three main metrics that are used for evaluating the trained regression model are variance, bias and error.
                            <span> <a href="https://en.wikipedia.org/wiki/Regression_analysis"> more...</a></span>
                        </p>
                    </div>
                </div>
                <a href="regression.html"><button class="action">Check Now</button></a>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="\static\images\Data-Preprocessing.jpg" alt="Event image">

            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Preprocessing</p>
                    <div class="separator"></div>
                    <p class="info"></p>

                    <div class="additional-info">
                        <p class="info">
                            Pre-training step
                        </p>
                        <p class="info description">
                            Preprocessing is the process of transforming raw data into a format
                            that is more suitable for further analysis. It can also refer to the
                            transformations applied to data before feeding it to an algorithm.
                            <span> <a href="https://en.wikipedia.org/wiki/Data_preprocessing"> more...</a></span>
                        </p>
                    </div>
                </div>
                <a href="preprocessing.html"><button class="action">Check Now</button></a>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="\static\images\data-visualize.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Data Visualization</p>
                    <div class="separator"></div>
                    <p class="info"> </p>


                    <div class="additional-info">
                        <p class="info">
                            Data Visualize
                        </p>
                        <p class="info description">
                            Data visualization is the process of using visual elements like
                            charts, graphs, or maps to represent data. It helps people see,
                            interact with, and better understand data.
                            <span> <a href="https://en.wikipedia.org/wiki/Data_and_information_visualization"> more...</a></span>
                        </p>
                    </div>
                </div>
                <a href="visualize.html"><button class="action">Check Now</button></a>
            </div>
        </div>


         <div class="item-container">
            <div class="img-container">
                <img src="\static\images\classification.jpeg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Classification</p>
                    <div class="separator"></div>
                    <p class="info"> </p>


                    <div class="additional-info">
                        <p class="info">
                            Classification
                        </p>
                        <p class="info description">
    Categorical classification organizes data into distinct groups based on shared characteristics.
                            It aids in understanding data distribution and relationships,
                            often represented visually using charts like bar graphs or pie charts.
                            This helps users easily identify patterns and insights within the data.
                            <span> <a href="https://en.wikipedia.org/wiki/Classification"> more...</a></span>

</p>

                    </div>
                </div>
                <a href="classification"><button class="action">Check Now</button></a>
            </div>
        </div>

          <div class="item-container">
            <div class="img-container">
                <img src="\static\images\img-classification 1.png" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Image Classification</p>
                    <div class="separator"></div>
                    <p class="info"> </p>


                    <div class="additional-info">
                        <p class="info">
                            Image Classification
                        </p>
                        <p class="info description">
                            Image classification is the task of assigning a label or class to an entire image.
                            Images are expected to have only one class for each image.
                            The model take an image as input and return a prediction about which class the image belongs to.
                            <span> <a href="https://www.superannotate.com/blog/image-classification-basics"> more...</a></span>
                        </p>
                    </div>
                </div>
                <a href="imageClassification"><button class="action">Check Now</button></a>
            </div>
        </div>
    </div>


    </div>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('file').addEventListener('change', handleFile);
    function handleFile() {
        const fileInput = document.getElementById('file');
        const featureDropdown = document.getElementById('featureDropdown');
        featureDropdown.innerHTML = ''; // Clear previous options

        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const csv = e.target.result;
                const lines = csv.split('\n');
                if (lines.length > 0) {
                    const headers = lines[0].split(',');
                    for (let header of headers) {
                        const option = document.createElement('option');
                        option.text = header.trim();
                        featureDropdown.add(option);
                    }
                }
            };
            reader.readAsText(file);
        }
    }
</script>

</body>

</html>
